.social-links
	display: inline-flex
	justify-content: center
	align-items: center

	&--horizontal
		flex-flow: row nowrap

	&--vertical
		flex-flow: column nowrap

	.social-link
		padding: 1em
		display: flex
		align-items: center
		background-color: $bg-main
		
		svg
			width: 2em
			height: 2em
			fill: $c-primary
			transition: .2s all ease-in-out

		&:hover svg
			fill: $c-white

