// ==================== Headings ====================

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6
	font-weight: bold
	margin: 0

// Gigantic -----------------------------------------

.gigantic
	font-size: 100px
	line-height: 1.09
	letter-spacing: -2px

	@media (min-width: $s-min)
		font-size: 120px

	@media (min-width: $l-min)
		font-size: 180px

	&--wide
		font-size: 80px
	
		@media (min-width: $s-min)
			font-size: 100px

		@media (min-width: $m-min)
			font-size: 120px

		@media (min-width: $l-min)
			font-size: 180px

// Huge, H1 -----------------------------------------

.huge, h1
	font-size: 68px
	line-height: 1.05
	letter-spacing: -1px

// Large, H2 -----------------------------------------

.large, h2
	font-size: 26px
	line-height: 1.14

	@media (min-width: $s-min)
		font-size: 32px

	@media (min-width: $l-min)
		font-size: 42px

// Bigger, H3 -----------------------------------------

.bigger, h3
	font-size: 34px
	line-height: 1.38

	@media (min-width: $s-min)
		font-size: 46px

	@media (min-width: $l-min)
		font-size: 58px

// Big, H4 --------------------------------------------

.big, h4,
	font-size: 22px
	line-height: 1.38
	
	@media (min-width: $s-min)
		font-size: 26px

	@media (min-width: $l-min)
		font-size: 32px

// Normal, H4 --------------------------------------------

.normal, h5, dt
	font-size: 18px
	line-height: 1.38
	
	@media (min-width: $s-min)
		font-size: 20px

	@media (min-width: $l-min)
		font-size: 22px

// Small ----------------------------------------------

.small, small
	font-size: 10px
	line-height: 1.2


// ==================== Basic Text ====================

p
	margin: 0 0 1em 0

	&:last-child
		margin: 0

em
	font-style: italic

strong
	font-weight: bold

hr
	border: solid #ddd
	border-width: 1px 0 0
	clear: both
	margin: 10px 0 30px
	height: 0
