// Colors

$bg-main: black
$bg-primary: black
$bg-secondary: black

$c-primary: #c0c0c0
$c-secondary: #888888
$c-highlight: #466591
$c-lowlight: #1f1f1f
$c-special: black

$c-selection: #FFF498

// Fonts

$font-primary: 'Merriweather Sans', sans-serif
$font-secondary: 'Poppins',Arial, sans-serif

// Breakpoints

$xs-max: 480px
$s-min: 481px
$s-max: 767px
$m-min: 768px
$m-max: 991px
$l-min: 992px