/************************* About *************************/

.about
	position: relative
	width: 100vw
	background-color: $bg-secondary
	
	&__wrapper
		grid-template-areas: 'header' 'content' 'pic'
			
	&__header
		grid-area: header
		z-index: 3

	&__content
		grid-area: content
		max-width: 100vw
		box-sizing: border-box
		z-index: 2

		p:first-of-type
			text-indent: 1em

	&__social-links
		grid-area: links
		text-align: center

	&__visual
		grid-area: pic
		z-index: 1
	
		height: 360px
		width: auto
		object-fit: contain

	@media (max-width: $xs-max)

		&__social-links
			// transform prop reserved by animation styles
			margin-top: 1rem
			margin-bottom: -1rem

	@media (min-width: $s-min)

		&__social-links
			margin-top: 1rem
			// transform: none
			position: absolute
			left: -1rem
			bottom: 3.1rem

	@media (min-width: $s-min) and (max-width: $s-max)

		&__content
			margin-bottom: -1rem
		
		&__social-links	.social-links
			flex-flow: column nowrap

		&__visual
			transform: translateX(3rem)

	@media (min-width: $m-min)
		
		&__wrapper
			grid-template-areas: "header pic" "content pic"
			margin-bottom: 4rem

		&__content
			align-self: start
			padding-left: 1rem

		&__social-links
			bottom: -4.8rem
			left: 7rem

		&__visual
			padding-top: 7rem

	@media (min-width: $l-min)

		&__header
			transform: translateX(-5rem)

		&__content
			padding-left: 0
			transform: translateY(-2rem)

		&__social-links
			bottom: -6.5rem
			left: 9rem


		&__visual
			height: 450px
			padding-top: 9rem
			