/************************* About *************************/

.about
	position: relative
	width: 100%
	background-color: $bg-secondary
	
	&__wrapper
		display: grid
		grid-template-areas: 'header' 'content' 'pic'
		grid-gap: 3rem
		justify-content: center
		justify-items: center
		
		&::before
			content: ""
			position: absolute
			top: 8rem
			left: 1rem
			right: 1rem
			bottom: 8rem
			border: 10px solid $c-highlight

			@media (min-width: $s-min)
				top: 9rem
				bottom: 5rem
			
	&__header
		grid-area: header
		z-index: 3

	&__content
		grid-area: content
		z-index: 2
		padding: 0 .5em

	&__visual
		grid-area: pic
		z-index: 1
	
		height: 360px
		width: auto
		object-fit: contain


	@media (min-width: $m-min)
		
		&__wrapper
			grid-template-areas: "header pic" "content pic"
			grid-gap: 2rem
			align-items: center
			
			&::before
				content: ""
				position: absolute
				top: 4rem
				left: 3rem
				right: 5rem
				bottom: -3rem
				border: 10px solid $c-highlight

		&__content
			align-self: flex-start

		&__visual
			padding-top: 7rem

	@media (min-width: $l-min)

		&__wrapper
			&::before
				content: ""
				position: absolute
				top: 7rem
				left: 5rem
				right: 10rem
				bottom: 2rem
				border: 10px solid $c-highlight

		&__header
			transform: translateX(-5rem)

		&__content
			transform: translate(-1rem, -2rem)

		&__visual
			height: 450px
			padding-top: 9rem
			