/************************* Contact *************************/


.contact
	position: relative
	width: 100%
	background-color: $bg-secondary
	
	&__wrapper
		grid-template-areas: 'header' 'content' 
			
	&__header
		grid-area: header
		z-index: 3

	&__content
		grid-area: content
		z-index: 2

		@media (min-width: $l-min)
			padding-left: 1rem

	&__social-links
		display: none
		
		@media (min-width: $m-min)
			display: inline-block
			position: absolute
			bottom: 10rem
			left: 1.3rem

		@media (min-width: $l-min)
			bottom: 14rem
			left: 6.3rem

