/************************* Contact *************************/


.contact
	position: relative
	width: 100%
	background-color: $bg-secondary
	
	&__wrapper
		grid-template-areas: 'header' 'content'
			
	&__header
		grid-area: header
		z-index: 3

	&__content
		grid-area: content
		z-index: 2

	&__visual
		grid-area: pic
		z-index: 1
	
		height: 360px
		width: auto
		object-fit: contain


	@media (min-width: $l-min)
		&__content
			// align-self: start
			padding-left: 1rem

		&__visual
				width: 100%
				height: auto

	// @media (min-width: $l-min)
