.projects

	&__nav
		padding: 1rem 

// === TODO: export ========================
	
.projects__gallery
	padding: 2rem
	
	div
		box-sizing: border-box


	// === TODO: export ========================

	.project
		flex: 1 0 300px


	// ======================================

	// TODO
		// breakpoints
			// first row bigger squares (nth-child: n <= rowLength (at given breakpoint))
		// box shadow
		// overlay w gradient bg: click: transition opacity or move bg

	.row
		display: flex 
		justify-content: space-between

	.square
		height: 0

	.square-25
		width: 25%
		padding-bottom: 25%

	.square-33
		width: 33.333333%
		padding-bottom: 33.333333%

	.square-50
		width: 50%
		padding-bottom: 50%

	.square-100
		width: 100%
		padding-bottom: 100%

	// Styling

	.grid
		display: block
		padding: 0
		margin: 0 -6px 12px
		text-align: left
		font-size: 0

	.grid-cell
		display: inline-block
		margin: 0
		padding: 0 6px
		text-align: left
		vertical-align: top
		width: 100%
		font-size: 16px

	.grid-25 
		width: 25%
	.grid-33 
		width: 33.333333%
	.grid-50 
		width: 50%

	.square
		position: relative
		display: inline-block
		vertical-align: top
		background-color: #eee


	// Styles that are specific to this demo

	.square
		overflow: hidden
		border-radius: 8px
		background-size: cover
		box-shadow: 0 0 12px 0 rgba(white, .3)
		transition: all 200ms ease

		&:hover
			box-shadow: 0 0 24px 0 rgba(white, .4)
			filter: brightness(120%)

		
	.one
		background-image: url(https://assets.iamsteve.me/placeholder/1.jpg)
	
	.two
		background-image: url(https://assets.iamsteve.me/placeholder/2.jpg)

	.three
		background-image: url(https://assets.iamsteve.me/placeholder/3.jpg)

	.four
		background-image: url(https://assets.iamsteve.me/placeholder/4.jpg)

	.content h2
		font-size: 12px
		font-weight: 700
		color: #fff
		text-shadow: 0 1px rgba(black, .6)
		background: linear-gradient(rgba(#252243, 0), rgba(#252243, .8))
		
		margin: 0
		padding: 36px 12px 12px
		
		position: absolute
		left: 0
		bottom: 0
		right: 0