		
/************************* App Design *************************/

.services
	width: 100%
	max-width: 1200px
	margin: auto

	&__article
		position: relative
		display: grid
		padding: 4rem 1rem 0 1rem
		grid-template-areas: 'content' 'tags' ' pic'
		grid-gap: 2rem
		justify-content: center
		justify-items: center
		align-content: center
		align-items: center

		@media (min-width: $s-min)
			&:nth-child(even)
				grid-template-areas: 'content content' 'pic tags'
				grid-template-columns: 6fr 4fr

			&:nth-child(odd)
				grid-template-areas: 'content content' 'tags pic'
				grid-template-columns: 4fr 6fr

		@media (min-width: $m-min)
			grid-template-rows: 1fr auto
	
			&:nth-child(even)
				grid-template-areas: 'content pic' 'content tags'
				grid-template-columns: 6fr 4fr

			&:nth-child(odd)
				grid-template-areas: 'pic content' 'tags content'
				grid-template-columns: 4fr 6fr

		@media (min-width: $l-min)
			padding-bottom: 1rem

	&__content
		grid-area: content
		text-align: center

		p
			margin: 0 auto 20px auto

	&__tags
		grid-area: tags
		text-align: center
		margin-top: 1rem
				
	&__visual
		grid-area: pic
		position: relative
		width: 100%
		min-height: 350px
		height: 100%	
		margin: 0
		z-index: -1

	&__img
		position: absolute
		height: 100%
		min-width: 100%
		object-fit: contain

		@media (max-width: $xs-max)
			&--A
				left: 0
				width: 100%

		@media (max-width: $s-max)
			&--A
				left: unset
				width: unset
				right: 0

			&--B
				left: 0

		@media (min-width: $m-min)
			top: 1rem
			height: calc(100% - 1rem)

			&--A
				left: 0

			&--B
				right: 0
		

			
		